.header {
	background: $color-darken;
	height: 60px;;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:0 20px;
	}
	&__right {
		margin-top: 12px;
	}
}
