header.header
	.container
		.header__wrapper
			.header__left
				img(src="../img/content/logo.png")
			.header__right
				button.hamburger(type="button").hamburger--slider
					span.hamburger-box
						span.hamburger-inner
				nav.menu
					ul.menu__list
						li.menu__item
							a.menu__item-link(href="") ПОРТФОЛІО
						li.menu__item
							a.menu__item-link(href="") АГЕНТСТВО
						li.menu__item
							a.menu__item-link(href="") СТАТТІ
						li.menu__item
							a.menu__item-link(href="") КОНТАКТИ
						li.menu__item
							a.menu__item-link(href="") СТАТТІ
					.social-items



