.menu {
	position: relative;
	&__list {
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 2;
		background:$color-darken;
		width: 250px;
		right:-300px;
		top: 12px;
		transition: all 0.1s linear 0.5s;
		@media (min-width: 768px) {
			flex-direction: row;
			background:transparent;
		}
	}
	&__item-link {
		@include Montserrat-Normal;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
	}
}

.hamburger.is-active ~ .menu > .menu__list {
	right: -20px;
	//transition: all 0.1s linear 0.5s;
}
