.menu {
	//position: relative;
	&__list {
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 2;
		background:$color-darken;
		right:-999px;
		padding: 15px 0;
		transition: all 0.1s linear 0.4s;
		opacity: 0.8;
		width: 100vw;
		@media (min-width: 768px) {
			flex-direction: row;
			background:transparent;
			position:static;
			opacity: 1;
			width:auto;
		}
	}

	&__item {
		margin:10px 20px;
		@media (min-width: 768px) {
			margin:0 20px
		}
	}

	&__item-link {
		@include Montserrat-Normal;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
		margin: 0 10px;
	}
}

.hamburger.is-active ~ .menu > .menu__list {
	right: 0;
	//left: 1px;
}
