.head-block {
	padding: 35px 0;

	&__title-content {
		margin: 0 20px;
	}

	&__epigraph {
		@include Montserrat-Regular;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 3px;
	}

	&__title {
		@include Montserrat-SemiBold;
		font-size: 27px;
		line-height: 37px;
		text-transform: uppercase;
		color: #1A1A1A;
	}

	&__text-content {
		margin: 0 20px;
	}

	&__picture {
		margin:20px auto;
	}
}
