section.head-block
	.container
		.head-block__title-content
			p.head-block__epigraph Брендинг и ребрендинг
			h2.head-block__title Cтоматологические клиники и центры
		.head-block__picture
			picture
				source(media="(min-width: 1300px)", srcset="../img/content/interior-desktop@1x.png 1x, ../img/content/interior-desktop@1x.png 2x")
				img(src="../img/content/interior-mobile@1x.png", srcset="../img/content/interior-mobile@2x.png 2x")
		.head-block__text-content
