section.container.head-block
		//- .container
		.head-block__title-content
			p.head-block__epigraph Брендинг и ребрендинг
			h2.head-block__title Cтоматологические клиники и центры
		.head-block__picture
			picture
				source(media="(min-width: 1300px)", srcset="../img/content/interior-desktop@1x.png 1x, ../img/content/interior-desktop@1x.png 2x")
				source(type="image/webp" media="(min-width: 1300px)", srcset="../img/content/interior-desktop@1x.webp 1x, ../img/content/interior-desktop@1x.webp 2x")
				source(type="image/webp", srcset="../img/content/interior-mobile@1x.webp 1x, ../img/content/interior-mobile@2x.webp 2x")
				img(src="../img/content/interior-mobile@1x.png", srcset="../img/content/interior-mobile@2x.png 2x")
		.head-block__text-content
			p
				| Wizart имеет большой опыт в разработке концепций брендинга для стоматологических клиник, медицинских учреждений и организаций.
				| Работая с стоматологией, мы присоединяемся к одной команде и понимаем общую цель - что потребитель удовлетворен, и наши клиенты развиваются.
				| С 2016 года наше агентство создало более 10 проектов брендинга для стоматологических и медицинских организаций.
			p В нашем портфолио:
			p
				| - Стоматологические офисы и клиники;
				| - стоматологические центры;
				| - косметические клиники;
				| - Денциальные имплантаты и мед. оборудование;
