section.container.competence
	.competence__title Наша компетентность
	.competence__wrapper
		.competence__case
			.competence__case-title МЫ ПОНИМАЕМ РЫНОК СТОМАТОЛОГИЧЕСКИХ УСЛУГ
			.competence__case-image
				picture
					source(media="(min-width: 1300px)", srcset="../img/content/competence__case1-desktop@1x.png 1x, ../img/content/competence__case1-desktop@1x.png 2x")
					source(type="image/webp" media="(min-width: 1300px)", srcset="../img/content/competence__case1-desktop@1x.webp 1x, ../img/content/competence__case1-desktop@1x.webp 2x")
					source(type="image/webp", srcset="../img/content/competence__case1-mobile@1x.webp 1x, ../img/content/competence__case1-mobile@2x.webp 2x")
					img(src="../img/content/competence__case1-mobile@1x.png", srcset="../img/content/competence__case1-mobile@2x.png 2x")
			.competence__case-description
				p.competence__case-text
					| Специалисты неоднократно проводили исследования и анализ стоматологического рынка.
					| Мы знаем все основные тенденции отрасли.
		.competence__case
			.competence__case-title Знакомы с лучшими мировыми практиками стоматологической сферы
			.competence__case-image
				picture
					source(media="(min-width: 1300px)", srcset="../img/content/competence__case2-desktop@1x.png 1x, ../img/content/competence__case2-desktop@1x.png 2x")
					source(type="image/webp" media="(min-width: 1300px)", srcset="../img/content/competence__case2-desktop@1x.webp 1x, ../img/content/competence__case2-desktop@1x.webp 2x")
					source(type="image/webp", srcset="../img/content/competence__case2-mobile@1x.webp 1x, ../img/content/competence__case2-mobile@2x.webp 2x")
					img(src="../img/content/competence__case2-mobile@1x.png", srcset="../img/content/competence__case2-mobile@2x.png 2x")
			.competence__case-description
				p.competence__case-text
					| Во время исследования рынка мы знакомились с лучшими мировыми практиками, лучшими брендами и людьми в стоматологической сфере.
		.competence__case
			.competence__case-title Мы знаем ведущие компании в области стоматологии
			.competence__case-image
				picture
					source(media="(min-width: 1300px)", srcset="../img/content/competence__case3-desktop@1x.png 1x, ../img/content/competence__case3-desktop@1x.png 2x")
					source(type="image/webp" media="(min-width: 1300px)", srcset="../img/content/competence__case3-desktop@1x.webp 1x, ../img/content/competence__case3-desktop@1x.webp 2x")
					source(type="image/webp", srcset="../img/content/competence__case3-mobile@1x.webp 1x, ../img/content/competence__case3-mobile@2x.webp 2x")
					img(src="../img/content/competence__case3-mobile@1x.png", srcset="../img/content/competence__case3-mobile@2x.png 2x")
			.competence__case-description
				.p.competence__case-text
					|Стоматологические дистрибьюторы, производители зубных имплантов, ведущие стоматологические клиники и центры.
		.competence__case
			.competence__case-title Мы понимаем рынок стоматологических услуг
			.competence__case-image
				picture
					source(media="(min-width: 1300px)", srcset="../img/content/competence__case4-desktop@1x.png 1x, ../img/content/competence__case4-desktop@1x.png 2x")
					source(type="image/webp" media="(min-width: 1300px)", srcset="../img/content/competence__case4-desktop@1x.webp 1x, ../img/content/competence__case4-desktop@1x.webp 2x")
					source(type="image/webp", srcset="../img/content/competence__case4-mobile@1x.webp 1x, ../img/content/competence__case4-mobile@2x.webp 2x")
					img(src="../img/content/competence__case4-mobile@1x.png", srcset="../img/content/competence__case4-mobile@2x.png 2x")
			.competence__case-description
				.p.competence__case-text
					| Мы понимаем потребности потребителей в каждом стоматологическом направлении:
					| имплантация, ортодонтия, ортопедия, терапия, эндодонтия, хирургия и многое другое.


